{% extends 'base.html' %}

{% block content %}
Welcome to tweetme 2

<div id="tweets">
    replace me
</div>

<script>
    const tweetsElement = document.getElementById("tweets") //get anything in document based on element id
    tweetsElement.innerHTML = 'Loading....' //set new html in that html
    var el1 = "<h1>Hi there 1</h1>"
    var el2 = "<h1>Hi there 2</h1>"
    var el3 = "<h1>Hi there 3</h1>"
    tweetsElement.innerHTML = el1 + el2 + el3
    // initial setup
    const xhr = new XMLHttpRequest()
    const method = 'GET' //"POST"
    const url = "/tweets"
    const responseType = "json"

    // perform the request
    xhr.responseType = responseType  //set it's own response type to initial response type
    xhr.open(method, url) //Open up the request with this method and this url
    //now handle this whenever it's loded
    xhr.onload = function(){
        const serverResponse = xhr.response
        var listedItems = serverResponse.response
        console.log(listedItems)
    } //then it will load just logout the response that comes form the request itself
    xhr.send() // triger this request
</script>
{% endblock content %}